// mobile btn for extend
// menu

@mixin mobileCtrlBtn {
  width: 60px;
  height: 60px;
  position: fixed;
  top: 0px;
  display: none;
  font-size: 0em;
  padding: 15px;
  margin: 0;
  min-width: auto;
  min-height: auto;
  background: transparent;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  z-index: 100;

  @include screen('tablet') {
    display: block;
  }
}

.sidebarCtrlBtn {
  display: none;
  left: 0px;
  @include mobileCtrlBtn;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 2px;
    // background: $colorPrimary;
    // box-shadow: $colorPrimary 0 6px 0 0, $colorPrimary 0 -6px 0 0;
    background: #fff;
    box-shadow: #fff 0 6px 0 0, #fff 0 -6px 0 0;
    transition: 0.2s linear;
  }

  &::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 2px;
    background: $colorPrimary;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.2s linear;
  }

  // &:hover {
  //   &::before {
  //     transform: translate(-50%, -50%) rotate(45deg);
  //     box-shadow: none;
  //   }
  //   &::after {
  //     opacity: 1;
  //     transform: translate(-50%, -50%) rotate(-45deg);
  //   }
  // }
}

// search
// .searchCtrlBtn {
//   display: none;
//   right: 0px;
//   font-size: 0em;
//   z-index: 9;
//   @include mobileCtrlBtn;

//   &:before {
//     width: 40px;
//     height: 40px;
//     background: url(../images/basic/icon_search.svg) no-repeat center center;
//     background-size: 28px;
//     opacity: 0.6;
//     content: '';
//     position: absolute;
//     top: 10px;
//     left: 10px;
//     display: block;
//   }
// }

//header
.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transition: 0.3s ease-out;
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  @include screen('tablet') {
    background: rgba(21,75,109,.5);
    backdrop-filter: blur(10px);
    mix-blend-mode: hard-light;
    position: fixed;
    width: 100%;
  }

  &:before {
    // position: absolute;
    // content: '';
    // width: 100%;
    // height: 100%;
    // top: 0;
    // left: 0;
    // background: #fff;
    // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    // pointer-events: none;
    // z-index: -1;

    @include screen('tablet') {
      height: 60px;
    }
  }

  & > .container {
    max-width: $containerMax;
    overflow: visible;
    position: relative;
    padding-top: 2em;

    @include screen('tablet') {
      padding: 0;
    }
  }

  h1 {
    float: left;
    width: 300px;
    height: 75px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    @include screen('tablet') {
      float: none;
    }

    a {
      display: inline-block;
    }

    img {
      display: block;
      max-width: 300px;
      max-height: 75px;
    }

    @include screen('tablet') {
      padding: 2px 60px;
      width: 100%;
      text-align: center;
      height: 60px;

      a{
        margin-top: 8px;
      }

      img {
        width: auto;
        height: auto;
        max-height: 54px;
        margin: 0px auto;
        transform: scale(0.7);
      }
    }
  }

  // 導覽列
  .navigation {
    box-sizing: border-box;
    display: flex;
    position: relative;
    z-index: 65;
    align-items: center;

    @include screen('tablet') {
      display: none;
    }

    .navList {
      flex: 1 1 auto;
      margin: 0.25em 0.5em 0 0;

      ul {
        padding: 0;
        margin: 0;
        font-size: 0.875em;
        list-style: none;
        display: flex;
        justify-content: flex-end;
      }

      li {
        flex: 0 0 auto;

        a {
          display: block;
          padding: 0.5em;
          text-decoration: none;
          color: #fff;
          font-weight: normal;
          // @include aSetting($colorWord);
        }
      }
    }

    //右邊區塊
    .submenuBox {
      display: flex;
      align-items: center;
      padding: 15px;
      background: linear-gradient(135deg, #005d9d 0%, #98d1a7 100%);
      position: relative;

      & > div {
        + div::after {
          content: '';
          width: 1px;
          height: 17px;
          background: #fff;
          display: block;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  // // 使用者
  // .userName{
  //   position: relative;
  //   .user-label{
  //     border: 1px solid transparent;
  //     border-radius: 30px;
  //     padding: 6px 32px 6px 18px;
  //     background: url(../images/icon_arrowDown.svg) right 12px top 14px no-repeat #fff;
  //     transition: none;
  //     &:hover,
  //     &.act{
  //       color: #fff;
  //       box-shadow: #fff 0px 0px 0px 3px;
  //       background: url(../images/icon_arrowDown_w.svg) right 12px top 14px no-repeat #1D69A7;
  //       background-size: 14px 8px;
  //     }
  //   }
  //   ul{
  //     // 功能
  //     @include liReset;
  //     position: absolute;
  //     width: 100%;
  //     margin: -.3em 0;
  //     top: 105%;
  //     li{
  //       a{
  //         display: block;
  //         text-align: center;
  //         background: #fff;
  //         color: #333;
  //         padding: 6px 18px;
  //         margin: .3em;
  //         border-radius: 30px;
  //         box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  //       }
  //     }

  //     display: none; // 隱藏
  //     &.show{
  //       display: block;
  //     }
  //   }
  // }
}

// 使用者
.userName{
  position: relative;
  .user-label{
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 6px 32px 6px 18px;
    background: url(../images/icon_arrowDown.svg) right 12px top 14px no-repeat #fff;
    transition: none;
    &:hover,
    &.act{
      color: #fff;
      box-shadow: #fff 0px 0px 0px 3px;
      background: url(../images/icon_arrowDown_w.svg) right 12px top 14px no-repeat #1D69A7;
      background-size: 14px 8px;
    }
  }
  ul{
    // 功能
    @include liReset;
    position: absolute;
    width: 100%;
    margin: -.3em 0;
    top: 105%;
    li{
      a{
        display: block;
        text-align: center;
        background: #fff;
        color: #333;
        padding: 6px 18px;
        margin: .3em;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      }
    }

    display: none; // 隱藏
    &.show{
      display: block;
    }
  }
}
